* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 27px;
  background-color: #222;
}

div.container {
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

div.Screen {
  background: linear-gradient(135deg, #00feba, #5b548a);
  width: 430px;
  height: 75%;
  color: #fff;
  padding: 30px 25px;
  border-radius: 15px;
}

#input1 {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  background: #ebfffc;
  color: #555;
  font-size: 16px;
}

.icons {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  width: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 50%;
  font-size: 16px;
  margin-left: 15px;
}

.search:hover {
  background-color: lightblue;
}

.weather {
  justify-content: center;
  align-items: center;
  line-height: 30px;
  margin-top: 10px;
  color: #fff;
  text-align: center;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
}

.weather h2 {
  margin-top: 45px;
  font-size: 45px;
  font-weight: 200;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 70px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 40px;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
}

img.state {
  width: 170px;
}
